body {
  font-family: sans-serif;
}


app {
  /*display: flex;*/
}

author {
  display: block;
  background-color: #eee;
  margin: 12px;
  padding: 8px;
}

author img {
  width: 200px;
  height: 300px;
}

author .books {
  display: flex;
}

author .books book {
  margin: 12px;
}

author .books book img {
  width: 200px;
  height: 300px;
}
